<div class="qna-container">
  <div class="qna-wrapper">
    <div class="qna-header">문의하기</div>
    <div class="qna-body">
      <div class="reg-qna">
        <form id="form-qna" action="/qna" method="post">
          <div class="reg-left">
          <input type="text" placeholder="제목" name="qna[title]">
          <textarea paceholder="문의사항을 입력해주세요" name="qna[content]"></textarea>
          </div>
          <div class="reg-right">
          <div class="submit-button">
            등록
          </div>
          </div>
        </form>
      </div>
      <table>
        <tr>
          <td>내용</td>
          <td>등록일</td>
          <td>상태</td>
        </tr>
        <% @notice.each do |notice| %>
        <tr>
          <td colspan="3">
            <table class="inner-table">
              <tr class="noti-component-title">
                <td class="title"><%= notice.title %></td>
                <td class="created_at"><%= notice.created_at.strftime("%Y.%m.%d") %></td>
                <td class="is-answered"><%= notice.is_answered%></td>
              </tr>
              <tr class="noti-component-content hide">
                <td colspan="3" class="content"><%= notice.content %></td>
              </tr>
            </table>
          </td>
        </tr>
        <% end %>
      </table>
      <%= will_paginate @notice %>
    </div>
  </div>

  </div>
</div>

