<script type="text/ng-template" id="showLifeModal.html">
  <div class="content-wrapper show-modal-life">
    <div class="content-header">
      <div class="edit-container" ng-if="auth">
        <div class="btn-edit" ng-click="edit_review()">
          <%= image_tag 'show/edit.png' %>
        </div>
        <div class="btn-delete" ng-click="delete_review()">
          <%= image_tag 'show/delete.png' %>
        </div>
      </div>

      <div class="title-container">
        <div class="title">{{title}}</div>
      </div>

      <div class="writtenby-container">
        <div>by.</div>
        <div class="written-by" ng-click="getUserReviews()">{{written_by}}</div>
      </div>

      <div class="hashtag-container">
        <div class="hash-tags">{{hash_tags}}</div>
      </div>
    </div>

    <div class="content-body">
      <div class="image-container" ng-if="image_url != null">
        <img ng-src="{{image_url}}"/>
      </div>

      <div class="content-container">
        <div class="content">{{content}}</div>
      </div>
    </div>
    <div class="upvote-and-scrap-container">
      <div class="upvote">
        <div class="count">{{upvote_and_scrap.cnt_upvotes}}</div>
        <div class="button" ng-click="upvote()">
          <%= image_tag 'show/button-good.png' %>
        </div>
      </div>
      <div class="scrap">
        <div class="count">{{upvote_and_scrap.cnt_scraps}}</div>
        <div class="button" ng-click="scrap()">
          <%= image_tag 'show/button-scrap.png' %>
        </div>
      </div>
    </div>

    <div class="comment-container">
      <div class="write-container">
        <div class="title">댓글쓰기</div>
        <textarea ng-model="comment_writting"></textarea>
        <div class="button" ng-click="submit_comment()">등록</div>
      </div>
      <div class="list-container">
        <div class="sort-by">
          <div class="hot selected" ng-click="sort_comment($event, 'hot')">HOT</div>
          <div class="new" ng-click="sort_comment($event, 'new')">NEW</div>
        </div>
        <div class="comment-wrapper" ng-repeat="comment in comments track by $index">
          <div class="comment-inner-wrapper">
            <div class="comment-left">
              <div class="comment-header">
                <div class="nickname">{{comment.written_by}}</div>
                <div class="created-at">{{comment.created_at}}</div>
                <div class="btn-delete" ng-if="comment.auth" ng-click="delete_comment(comment)">삭제</div>
              </div>
              <div class="comment-body">
                <div class="content">{{comment.content}}</div>
              </div>
            </div>
            <div class="comment-right">
              <div class="upvote" ng-click="upvote_comment(comment)">
                <%= image_tag 'show/button-good.png' %>
              </div>
              <div class="upvote-count">{{comment.upvote_count}}</div>
            </div>
          </div>
          <div class="subcomment-wrapper">
            <div class="subcomment-header">
              <div class="btn-show" ng-click="showSubComments($event, comment)">
                <div>답글 {{comment.subcomment_cnt}}개</div>
                <div class="arrow"></div>
              </div>
              <div class="devider">|</div>
              <div class="btn-write" ng-click="writeSubComment(comment)">답글쓰기</div>
            </div>
            <div class="subcomment-body">
              <div class="write-subcomment" ng-if="comment.write_sub">
                <textarea ng-model="comment.subcomment_writting"></textarea>
                <div class="submit-subcomment" ng-click="submit_subcomment(comment)">등록</div>
              </div>
              <div class="show-subcomment" ng-if="comment.show_sub">
                <div class="subcomments" ng-repeat="subcomment in comment.subcomments">
                  <div class="sub-header">
                    <div class="nickname">{{subcomment.written_by}}</div>
                    <div class="created-at">{{subcomment.created_at}}</div>
                    <div class="btn-delete" ng-if="subcomment.auth" ng-click="delete_subcomment(subcomment)">삭제</div>
                  </div>
                  <div class="sub-body">
                    <div class="content">{{subcomment.content}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</script>
