<script type="text/ng-template" id="showModal.html">
  <div class="content-wrapper show-modal">
    <div class="image-container">
      <!--<div class="to_prev" ng-click="to_prev_image()">이전</div>-->
      <img ng-src="{{current_img}}"/>
      <!--<div class="to_next" ng-click="to_next_image()">다음</div>-->
    </div>

    <div class="details-container">
      <div class="title-container">
        <div class="title">{{title}}</div>
      </div>

      <div class="writtenby-container">
        <div>by.</div>
        <div class="written-by" ng-click="getUserReviews()">{{written_by}}</div>
      </div>

      <div class="addr-container">
        <div class="addr">{{address}}</div>
      </div>

      <div class="duration-container">
        <div>거주기간 - </div>
        <div class="start">{{duration.start_time}}</div>
        <div>~</div>
        <div class="end">{{duration.end_time}}</div>
      </div>
    </div>

    <div class="satisfaction-container">
      <div class="avr-container">
        <div class="title">총 평점</div>
        <div class="stars">
          <%= render template: "review_houses/_star_container" %>
        </div>
      </div>
      <div class="detail-container">
        <%= render template: "review_houses/_satisfactions" %>
      </div>
    </div>

    <div class="review-container">
      <div class="review-wrapper review-price">
        <div class="review-header">
          <div class="title">가격 리뷰</div>
          <div class="info">
            보증금/월세, 관리비, 가스비, 전기세, 수도세 등
          </div>
        </div>
        <div class="content">{{reviews.price}}</div>
      </div>
      <div class="review-wrapper review-residence">
        <div class="review-header">
          <div class="title">주거 리뷰</div>
          <div class="info">
            악취, 방금, 바퀴벌레, 수압, 외풍, 난방 속도, 누수 등
          </div>
        </div>
        <div class="content">{{reviews.residence}}</div>
      </div>
      <div class="review-wrapper review-env">
        <div class="review-header">
          <div class="title">주거환경 리뷰</div>
          <div class="info">
            채광도, 주변소음, 편의시설, 집주인 친절도 등
          </div>
        </div>
        <div class="content">{{reviews.env}}</div>
      </div>
    </div>

    <div class="p-a-c-container">
      <div class="pros">
        <div class="title">단점</div>
        <div class="pros-content-wrapper" ng-repeat="pro in pros_and_cons.pros track by $index">
          <%= image_tag 'show/check-red.png' %>
          <div class="content">{{pro}}</div>
        </div>
      </div>
      <div class="cons">
        <div class="title">장점</div>
        <div class="cons-content-wrapper" ng-repeat="con in pros_and_cons.cons track by $index">
          <%= image_tag 'show/check-yellow.png' %>
          <div class="content">{{con}}</div>
        </div>
      </div>
    </div>

    <div class="upvote-and-scrap-container">
      <div class="upvote">
        <div class="count">{{upvote_and_scrap.cnt_upvotes}}</div>
        <div class="button" ng-click="upvote()">
          <%= image_tag 'show/button-good.png' %>
        </div>
      </div>
      <div class="scrap">
        <div class="count">{{upvote_and_scrap.cnt_scraps}}</div>
        <div class="button" ng-click="scrap()">
          <%= image_tag 'show/button-scrap.png' %>
        </div>
      </div>
    </div>

    <div class="comment-container">
      <div class="write-container">
        <div class="title">댓글쓰기</div>
        <textarea ng-model="comment_writting"></textarea>
        <div class="button" ng-click="submit_comment()">등록</div>
      </div>
      <div class="list-container">
        <div class="sort-by">
          <div class="hot selected" ng-click="sort_comment($event, 'hot')">HOT</div>
          <div class="new" ng-click="sort_comment($event, 'new')">NEW</div>
        </div>
        <div class="comment-wrapper" ng-repeat="comment in comments track by $index">
          <div class="comment-inner-wrapper">
            <div class="comment-left">
              <div class="comment-header">
                <div class="nickname">{{comment.written_by}}</div>
                <div class="created-at">{{comment.created_at}}</div>
                <div class="btn-delete" ng-if="comment.auth" ng-click="delete_comment(comment)">삭제</div>
              </div>
              <div class="comment-body">
                <div class="content">{{comment.content}}</div>
              </div>
            </div>
            <div class="comment-right">
              <div class="upvote" ng-click="upvote_comment(comment)">
                <%= image_tag 'show/button-good.png' %>
              </div>
              <div class="upvote-count">{{comment.upvote_count}}</div>
            </div>
          </div>
          <div class="subcomment-wrapper">
            <div class="subcomment-header">
              <div class="btn-show" ng-click="showSubComments(comment)">
                <div>답글 {{comment.subcomment_cnt}}개</div>
                <div class="arrow upper"></div>
              </div>
              <div class="devider">|</div>
              <div class="btn-write" ng-click="writeSubComment(comment)">답글쓰기</div>
            </div>
            <div class="subcomment-body">
              <div class="write-subcomment" ng-if="comment.write_sub">
                <textarea ng-model="comment.subcomment_writting"></textarea>
                <div class="submit-subcomment" ng-click="submit_subcomment(comment)">등록</div>
              </div>
              <div class="show-subcomment" ng-if="comment.show_sub">
                <div class="subcomments" ng-repeat="subcomment in comment.subcomments">
                  <div class="sub-header">
                    <div class="nickname">{{subcomment.written_by}}</div>
                    <div class="created-at">{{subcomment.created_at}}</div>
                    <div class="btn-delete" ng-if="subcomment.auth" ng-click="delete_subcomment(subcomment)">삭제</div>
                  </div>
                  <div class="sub-body">
                    <div class="content">{{subcomment.content}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
