<div class="score first">
  <%= image_tag 'write/star-grey.png' %>
  <%= image_tag 'write/star-purple.png', class: "none" %>
</div>
<div class="score second">
  <%= image_tag 'write/star-grey.png' %>
  <%= image_tag 'write/star-purple.png', class: "none" %>
</div>
<div class="score third">
  <%= image_tag 'write/star-grey.png' %>
  <%= image_tag 'write/star-purple.png', class: "none" %>
</div>
<div class="score fourth">
  <%= image_tag 'write/star-grey.png' %>
  <%= image_tag 'write/star-purple.png', class: "none" %>
</div>
<div class="score fifth">
  <%= image_tag 'write/star-grey.png' %>
  <%= image_tag 'write/star-purple.png', class: "none" %>
</div>
