<p id="notice"><%= notice %></p>

<h1>Listing Review Houses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @review_houses.each do |review_house| %>
      <tr>
        <td><%= link_to 'Show', review_house %></td>
        <td><%= link_to 'Edit', edit_review_house_path(review_house) %></td>
        <td><%= link_to 'Destroy', review_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review house', new_review_house_path %>
