<% if !user_signed_in? %>
<div class="modal fade" id="modal-sign-in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="sign-in">
          <div class="modal-title">
            <div>로그인</div>
            <div class="close" data-dismiss="modal">
              <%= image_tag 'buttons/close.png', class: "cancel" %>
            </div>
          </div>
          <div class="content-wrapper sign-in-main">
            <div class="email-container">
              <div>이메일</div>
              <input type="email" placeholder="이메일" class="user-id"/>
            </div>
            <div class="password-container">
              <div>비밀번호</div>
              <input type="password" placeholder="비밀번호" class="user-pw"/>
            </div>
            <div class="remember-container">
              <input type="checkbox" class="remember-me">
              <div>로그인 상태 유지</div>
            </div>
            <div class="sign-in-btn-container">
              <div class="sign-in-btn my-btn">로그인</div>
              <div class="sign-in-btn my-btn fb">페이스북으로 로그인</div>
            </div>
            <div class="sign-up-btn-container">
              <div class="sign-up-info">아직 회원이 아니신가요?</div>
              <div class="sign-up-btn my-btn">이메일로 가입하기</div>
            </div>
            <div class="forgot-container">
              <div>비밀번호를 모르시겠나요?</div>
              <div class="find-pw">비밀번호 찾기</div>
            </div>
          </div>
        </div>
        <div id="sign-up">
          <div class="modal-title">
            <div>회원가입</div>
            <div class="close" data-dismiss="modal">
              <%= image_tag 'buttons/close.png', class: "cancel" %>
            </div>
          </div>
          <div class="content-wrapper sign-up-main">
            <div class="email-container">
              <div>이메일</div>
              <input type="email" placeholder="이메일" class="email"/>
              <span class="email-conf"></span>
            </div>
            <div class="password-container">
              <div>비밀번호</div>
              <input type="password" placeholder="비밀번호" class="password"/>
              <span class="pw-cond"></span>
              <input type="password" placeholder="비밀번호 확인" class="password-conf"/>
              <span class="pw-conf"></span>
            </div>
            <div class="btn-next">
              <div>다음</div>
            </div>
          </div>
          <div class="content-wrapper sign-up-sub">
            <div class="nickname-container">
              <div>닉네임</div>
              <input type="text" placeholder="닉네임" class="nickname"/>
              <span class="nick-conf"></span>
            </div>
            <div class="birth-container">
              <div>태어난 년도</div>
              <select class="birth"></select>
              <div class="arrow"></div>
            </div>
            <div class="occupation-container">
              <div>직업</div>
              <select class="occupation">
                <option value="1">대학생</option>
                <option value="2">대학원생</option>
                <option value="3">직장인</option>
                <option value="4">무직</option>
                <option value="5">기타</option>
              </select>
              <div class="arrow"></div>
            </div>
            <div class="sex-container">
              <div>성별</div>
              <div class="radio-container">
                <input type="radio" name="sex" value="-1"/>남
                <input type="radio" name="sex" value="1"/>여
              </div>
            </div>
            <div class="btn-confirm">
              <div>회원가입</div>
            </div>
          </div>
          <div class="content-wrapper sign-up-fin">
            <div class="info-container">
              <div class="info-text">인증 메일이 발송되었습니다. 메일을 확인해주세요</div>
            </div>
            <div class="btn-okay">
              <div>확인</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>

<div class="modal fade" id="modal-write" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-title">
        <div>글쓰기</div>
        <div class="close-wrapper">
          <%= image_tag 'buttons/close.png', class: "cancel" %>
        </div>
      </div>
      <div class="modal-body">
        <%= image_tag 'write/button-oneroom_review.png', class: "oneroom" %>
        <%= image_tag 'write/button-living_feed.png', class: "living" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-write-info" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-title">
        <div>유의사항</div>
      </div>
      <div class="modal-body">
        <ol>
          <li>
            원룸 리뷰는 본인이 실제로 거주했던 원룸에 대한 진짜 정보를 공유하여
            예비 세입자들의 의사결정 과정을 도와주는 데에 목적을 두고 있습니다.
          </li>
          <li>
            사진 업로드 시, 실제로 거주했던 원룸과 관련된 사진만을 업로드해주시기
            바랍니다.
          </li>
          <li>
            작성하는 리뷰에 거짓된 정보 또는 비방의 목적을 띤 내용이 작성되어서는
            안됩니다. 위와 같은 이유로 신고가 접수될 경우, 내집탐방은 해당 리뷰를
            검토한 후 임의로 삭제를 하거나 수정을 요청할 수 있습니다. 
            (본인이 살면서 느꼈던 긍정적인 감정 또는 부정적인 감정을 자유롭게 기재
            하실 수 있지만, 욕설이나 특정인을 비난하는 글을 자제해주시면 문제가
            발생하지 않습니다.)
          </li>
          <li>
            게시된 리뷰의 저작권은 기본적으로 작성자의 소유이며, 내집탐방은 이의
            일부를 자체 커뮤니티에 컨텐츠로 사용할 수 있습니다. 
          </li>
          <li>
            원룸 리뷰와 관련되지 않거나 본 커뮤니티의 목적과 부합하지 않는 광고물은
            내집탐방의 자체적 판단 하에 선 삭제, 후 통보의 과정을 진행할 수 있습니다.
          </li>
          <li>
            내집탐방에서 원룸리뷰를 작성한다는 것은 위의 사실을 모두 인지하였고,
            사이트 이용규칙에  동의하였음을 의미합니다.
          </li>
        </ol>
        <div>
          지금까지는 없었던 원룸에 대한 진짜 정보!</br>
          내집탐방과 함께 효과적으로 원룸을 구하는 세상을 만들어보세요!
        </div>
      </div>
      <div class="modal-footer">
        <div class="button-wrapper">
          <div class="btn disagree">뒤로가기</div>
          <div class="btn agree">동의하고 리뷰쓰기</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-write-lifefeed" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form-life" action="/review_lifes" method="post" enctype="multipart/form-data">
        <input type="hidden" name="authenticity_token" value="QGthAE0W7zBgRqvzsphx7J05/bXasa8bpotEkFjwctIqEBfabdK1rN6B8wlcupH4ElpoBt2n9KwRY2it813Whw==">
        <div class="modal-body">
          <div class="title">
            <input type="text" placeholder="제목" name="review_life[title]"/>
          </div>
          <div class="hashtag">
            <input type="text" placeholder="해시태그 - #내집#탐방" name="hashtag"/>
          </div>
          <div class="image-file">
            <label for="write-life-img">
              <div class="button-wrapper">
                <div>사진 업로드</div>
              </div>
            </label>
            <input type="file" id="write-life-img" name="review_life[image]"/>
          </div>
          <div class="content">
            <textarea placeholder="글쓰기" name="review_life[content]"/></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="button submit">공유하기</div>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>

