<div class="nav-bar" ng-controller="NavCtrl">
  <div class="nav-logo">
    <%= image_tag 'navbar/logo.png', class: "logo" %>
  </div>
  <div class="nav-search">
    <div class="search-wrapper">
      <div class="search-img-wrapper">
        <%= image_tag 'navbar/search.png' %>
      </div>
      <div class="search-input-wrapper">
        <input type="text" class="search" placeholder="search" ng-keydown="$event.which === 13 && search()" ng-model="search_keywords"/>
      </div>
      <div class="search-type-wrapper">
        <div class="house selected" ng-click="setSearchType($event, 'house')">원룸</div>
        <div class="life" ng-click="setSearchType($event, 'oneroom')">생활</div>
      </div>
    </div>
  </div>
  <div class="nav-buttons">
    <%= image_tag 'navbar/button-write.png', class: "write" %>
    <%= image_tag 'navbar/button-map.png', class: "map" %>
    <%= image_tag 'navbar/button-menu.png', class: "menu" %>
  </div>
</div>
